@charset "UTF-8";
/*	--------------------------------------------------
Fonts
-------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Caveat|Lato|Barlow|Questrial|Mansalva|Shadows+Into+Light+Two&display=swap');

/*	--------------------------------------------------
Colours 
-------------------------------------------------- */
/*	--------------------------------------------------
Main Styling
-------------------------------------------------- */
* {
font-family: "Questrial", sans-serif;
font-weight:300;}

body {
background: #DCDCDC;}

h1, h2, h3, h4, h5, h6 {
font-family: "Caveat", cursive;
font-weight:700;
color: #3b3f45;
}

p, li {
  font-family: "Questrial", sans-serif;
  font-size: 18px;
line-height: 25px;
font-weight: 200;
}

.navbar-brand {
  font-family: "Caveat", cursive;
  font-weight:300;
  color: #3b3f45;
}

.nav-item {
  font-family: "Questrial", sans-serif;
  font-weight:300;
  color: #3b3f45;
}

h1 {
  color: #fff;
font-size: 400%;
font-weight: 300;
margin-bottom: 40px;
}

h2 {
font-variant: small-caps;
font-size: 300%;
margin-top: 40px;
margin-bottom: 20px;
}

h3 {
font-size: 200%;
}

h4 {
  font-size: 150%;
}

.container {
max-width: 1170px;
/* min-width: 540px; */
margin-left:auto; 
margin-right:auto;
margin-top: 0px;
margin-bottom: 0px;
overflow: visible;
}

.jumbotron {
  background-color: #3b3f45;
  color:#fff;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  border-top:5px groove white; 
  border-bottom:5px groove white;
}

div.embed-responsive {
  margin-bottom: 20px;
}